.lead__image {
  display: flex;
  justify-content: center;
  max-width: 984px;
  margin: 64px auto 0;
}

@media screen  and (max-width: 1024px) {
  .lead__image {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100vw;
  }  
}